@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

#minPrice,
#maxPrice {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;

    appearance: none;
    background: transparent;

    pointer-events: none;
}

#minPrice::-webkit-slider-thumb,
#maxPrice::-webkit-slider-thumb {
    appearance: none;

    width: 18px;
    height: 18px;

    background: #84cc16;
    border-radius: 50%;

    cursor: pointer;

    pointer-events: auto;
}

#minPrice::-moz-range-thumb,
#maxPrice::-moz-range-thumb {
    width: 18px;
    height: 18px;

    background: #84cc16;
    border: none;
    border-radius: 50%;

    cursor: pointer;

    pointer-events: auto;
}

.sidebar-collapsed #sidebar {
    width: 6rem;
}

.sidebar-collapsed #main-content {
    margin-left: 6rem;
}

.sidebar-collapsed .sidebar-text {
    display: none;
}

.sidebar-collapsed #toggle-close-icon {
    display: none;
}

.sidebar-collapsed #toggle-open-icon {
    display: block;
}
